﻿
@model List<Data>;
<h3>List of Customers</h3>
<br />
<a class="btn btn-primary" asp-action="Register">
    Diwaan Gali macmiil Cusub</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th style="width:80%;">Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Full_Name</td>
               
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>
                    <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            counter++;

        }
    </tbody>
</table>

