@model List<info>;
<h3>List of Products</h3>
<br />
<a class="btn btn-primary" asp-action="Create">New Products</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th style="width:50%;">Name</th>
              <th >Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.P_Name</td>
                 <td>@item.price</td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.P_id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.P_id">Delete</a>
                </td>
            </tr>
            counter++;

        }
    </tbody>
</table>
